*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: 100%;
  color: theme-color(quinary);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: theme-color(quinary);
}

a {
  text-decoration: none;
  color: theme-color(light);
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
