.container {
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    max-width: 800px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1500px;
  }
}

.flex-row {
  @include flexContainer();
}

.flex-column {
  @include flexContainer(column);
}

.img-container {
  position: relative;
  height: 0;
  overflow: hidden;

  &--skill {
    padding-bottom: 50%;
  }

  &--project {
    padding-bottom: 55.55%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section {
  @media screen and (min-width: 768px) {
    padding-top: 3rem;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 6rem;
  }
}

.invisible {
  display: none;
}
