.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.35s ease-out, background-color 0.25s ease-out;

  .nav-wrapper {
    width: 100%;
    padding: 0.5rem 1rem;
    @include flexContainer(row, space-between);
    transition: padding 0.25s ease-in-out;

    .logo {
      height: 50px;
      width: 50px;
      transition: height 0.35s ease-out, width 0.35s ease-out;
      z-index: 1;
    }

    .menu-btn {
      height: 2rem;
      width: 2rem;
      @include flexContainer();
      z-index: 1;

      .menu-lines {
        &,
        &::before,
        &::after {
          height: 0.25rem;
          width: 2rem;
          background-color: theme-color(light);
          transition: transform 0.25s ease-in-out;
        }

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
        }

        &::before {
          transform: translateY(-0.75rem);
        }

        &::after {
          transform: translateY(0.75rem);
        }
      }

      &.close {
        .menu-lines {
          transform: translateY(0.75rem);

          &::before {
            transform: translateY(-1rem) rotateZ(45deg);
          }

          &::after {
            transform: translateY(-1rem) rotateZ(-45deg);
          }
        }
      }
    }

    nav {
      min-height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: theme-color(secondary);
      transition: transform 0.25s ease-out;
      z-index: 0;

      li {
        a {
          color: theme-color(quinary);
          transition: color 0.25s ease-out;
  
          &:hover {
            color: theme-color(light);
          }
        }

        &.current {          
          @include flexContainer();

          &::before,
          &::after {
            content: "";
            display: block;
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
          }

          &::before {
            margin-right: 1rem;
            border-left: 0.5rem solid theme-color(quaternary);
          }

          &::after {
            margin-left: 1rem;
            border-right: 0.5rem solid theme-color(quaternary);
          }

          a {
            color: theme-color(light);
          }
        }
      }
    }
  }

  z-index: 2;

  @media screen and (max-width: 1023px) {
    nav {
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;

      &.open {
        transform: translateX(0);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .nav-wrapper .logo {
      height: 75px;
      width: 75px;
    }
  }

  @media screen and (min-width: 1024px) {
    @include flexContainer(row, space-between);

    .nav-wrapper {
      .menu-btn {
        display: none;
      }

      nav {
        display: block;
        position: relative;
        min-height: auto;
        width: fit-content;
        background-color: transparent;

        ul {
          @include flexContainer();

          li {
            margin-bottom: 0;

            & + li {
              margin-left: 3vw;
            }

            &.current {
              &::before,
              &::after {
                display: none;
              }

              & a {
                color: theme-color(light);
              }
            }
          }
        }
      }
    }
  }
}
