button,
.button {
  color: theme-color(dark);
  font-family: $font-family;
  font-weight: $strong-font-weight;
  line-height: 1.1;
  letter-spacing: 0.03rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid theme-color(light);
  border-radius: $unit * 3;
  background-color: theme-color(light);
  transition: 180ms all ease-in-out;
  cursor: pointer;
  @include flexContainer;

  .fab, .fas {
    margin-left: 0.5rem;
  }

  &:hover,
  &:focus {
    color: theme-color(light);
    background-color: theme-color(dark);
  }
}
