label {
  font-family: $font-family;
  color: theme-color(quaternary);
  font-weight: 700;
  font-size: $h5-font-size;
  @include flexContainer(column, center, flex-start);

  .textarea-wrapper {
    width: 100%;
    border-radius: $unit;
    overflow: hidden;
  }

  input,
  textarea {
    font-family: $font-family;
    width: 100%;
    min-height: 44px;
    border: none;
    border-radius: $unit;
    color: theme-color(dark);
    background-color: theme-color(quinary);

    &:hover,
    &:focus {
      background-color: theme-color(light);
    }
  }

  input {
    padding: 0.25em 0.5em;
  }

  input,
  .textarea-wrapper {
    margin-bottom: 1rem;
  }

  textarea {
    width: calc(100% + 1rem);
    padding: 0.25em 1.25em 0.25rem 0.5rem;
  }
}
